[submodule "app/src/main/jni/serval-dna"]
	path = app/src/main/jni/serval-dna
	url = ../serval-dna.git
[submodule "app/src/main/jni/libsodium"]
	path = app/src/main/jni/libsodium
	url = ../libsodium.git
